<container class="footer">

   <spacer size="28" class="grey-row"></spacer>
   <spacer size="28"></spacer>
   <row>
      <columns>
         <img src="https://i.imgur.com/mAIFR11.png" alt="Daily Updates" class="daily-updates-icon float-center"/>
         <spacer size="20"></spacer>
         <h3 class="daily-updates-text">
            Don’t miss our daily updates
         </h3>
         <spacer size="14"></spacer>
         <p class="catch-up">
            Catch up on the day’s big stories, straight in your inbox.
         </p>
         <spacer size="28"></spacer>
         <center>
            <p class="subscribe-button">
               <a href="https://subscription.yahoo.net/Newsletter/Preference/sub?&b=thecatchup" target="_blank">
                  Subscribe now
               </a>
            </p>
         </center>
      </columns>
   </row>
   <spacer size="42"></spacer>
   <spacer size="28" class="grey-row"></spacer>

   <row class="footer-bottom collapse">
      <columns>
         <row>
            <columns>
               <spacer size="28"></spacer>
               <center>
                  <h2 class="follow-us">
                     Follow us on
                  </h2>
                  <spacer size="14"></spacer>
                  <a href="https://www.facebook.com/yahoouk" target="_blank">
                     <img src="https://i.imgur.com/grntPb8.png" alt="Facebook" class="social-media-icon"/>
                  </a>
                  <a href="https://twitter.com/yahoonewsuk" target="_blank">
                     <img src="https://i.imgur.com/Eyw0xn9.png" alt="Twitter" class="social-media-icon"/>
                  </a>
               </center>
            </columns>
         </row>
         <spacer size="58"></spacer>
         <row>
            <columns>
               <p class="footer-links">
                  <a href="https://www.verizonmedia.com/policies/ie/en/verizonmedia/privacy/index.html" target="_blank">Privacy Policy</a>
                  |
                  <a href="https://subs.communications.yahoo.com/yahoo_unsub.html?obfuid=zVBwh0SwAdzJQ6xw1T6qzYYMc6cdy5mL2CaLNdaRQX8XDN2E4DbJCaDX2425-FVa&optin=ymc_en&c=f835ecc3-50e5-4ae9-bd90-9eeb34578274&intl=uk" target="_blank">Unsubscribe</a>
                  |
                  <a href="https://uk.help.yahoo.com/kb/account" target="_blank">Help</a>
               </p>
               <p class="footer-links">
                  ©2021 Verizon Media. All Rights Reserved.
               </p>
               <p class="footer-links">
                  5-7 Point Square, North Wall Qay, Dublin 1, Ireland
               </p>
            </columns>
         </row>
         <spacer size="42"></spacer>
      </columns>
   </row>

</container>