<container>
   <row>
      <columns class="footer">

         <row>
            <columns class="footer-top">
               <span class="block">To keep receiving emails from us,</span>
               <span>please add</span>
               <a href="mailto:noreply@info.iherb.com" target="_blank">noreply@info.iherb.com</a>
               <span>to your address book.</span>
            </columns>
         </row>

         <row class="footer-middle">
<!---------------------------------------------------------------------------------------------------->
            <columns small="4" large="6">
               <img src="{{iherb.image-root}}logo-iherb-grey.png" alt="iHerb Logo" class="iherb-logo"/>
               <p class="grey-dark">© iHerb Inc.</p>
               <a class="blue-text-fix">
                  <p class="grey-dark">2780 Harley Knox Blvd, Perris, CA 92570 USA</p>
               </a>
<!---------------------------------------------------------------------------------------------------->
            </columns><columns small="8" large="6" class="third-party-links">
               <a href="https://www.facebook.com/iherb" target="_blank">
                  <img src="{{iherb.image-root}}icon-facebook.png" alt="Facebook Icon" class="social-media-icon"/>
               </a>
               <a href="https://twitter.com/iherb" target="_blank">
                  <img src="{{iherb.image-root}}icon-twitter.png" alt="Twitter Icon" class="social-media-icon"/>
               </a>
               <a href="https://www.youtube.com/c/iherb" target="_blank">
                  <img src="{{iherb.image-root}}icon-youtube.png" alt="YouTube Icon" class="social-media-icon"/>
               </a>
               <a href="https://www.pinterest.com/iherb/_shop" target="_blank">
                  <img src="{{iherb.image-root}}icon-pinterest.png" alt="Pinterest Icon" class="social-media-icon"/>
               </a>
               <a href="https://www.instagram.com/iherb" target="_blank">
                  <img src="{{iherb.image-root}}icon-instagram.png" alt="Instagram Icon" class="social-media-icon"/>
               </a>
               <a href="https://apps.apple.com/us/app/iherb/id636609212" target="_blank">
                  <img src="{{iherb.image-root}}app-apple.png" alt="Apple App Store" class="app-store"/>
               </a>
               <a href="https://play.google.com/store/apps/details?id=com.iherb" target="_blank">
                  <img src="{{iherb.image-root}}app-google.png" alt="Google Play" class="app-store"/>
               </a>
            </columns>
<!---------------------------------------------------------------------------------------------------->
         </row>

         <row class="footer-links">
            <columns>
               <a href="https://checkout.iherb.com/auth/Account/Login" target="_blank">Email Preferences</a>
               <span>|</span>
               <a href="https://www.iherb.com/blog" target="_blank">Blog</a>
               <span>|</span>
               <a href="https://www.iherb.com/help/contact" target="_blank">Contact</a>
               <span>|</span>
               <a href="https://www.iherb.com/info/privacy" target="_blank">Privacy</a>
            </columns>
         </row>

      </columns>
   </row>
</container>