<container>
   <row class="footer">
      <columns class="ft-container">

         <row>
            <columns class="footer-top">
               <span class="block">To keep receiving emails from us,</span>
               <span>please add</span>
               <a href="mailto:noreply@info.iherb.com" target="_blank">noreply@info.iherb.com</a>
               <span>to your address book.</span>
            </columns>
         </row>

         <row class="footer-middle collapse">
<!---------------------------------------------------------------------------------------------------->
            <columns small="6" large="6">
               <table><tr>
                  <td class="iherb-info">
                     <img src="{{iherb.image-root}}logo-iherb-grey.png" alt="iHerb Logo" width="59" height="20"/>
                     <p class="copyright grey-dark">© iHerb Inc.</p>
                     <a class="blue-text-fix">
                        <p class="grey-dark">2780 Harley Knox Blvd, Perris, CA 92570 USA</p>
                     </a>
                  </td>
               </tr></table>
<!---------------------------------------------------------------------------------------------------->
            </columns><columns small="6" large="6" class="third-party-links">
               <table><tr>
                  <td></td>
                  <td class="soc-med-icon">
                     <a href="https://www.facebook.com/iherb" target="_blank">
                        <img src="{{iherb.image-root}}icon-facebook.png" alt="Facebook Icon" width="16" height="16"/>
                     </a>
                  </td>
                  <td class="soc-med-icon">
                     <a href="https://twitter.com/iherb" target="_blank">
                        <img src="{{iherb.image-root}}icon-twitter.png" alt="Twitter Icon" width="16" height="16"/>
                     </a>
                  </td>
                  <td class="soc-med-icon">
                     <a href="https://www.youtube.com/c/iherb" target="_blank">
                        <img src="{{iherb.image-root}}icon-youtube.png" alt="YouTube Icon" width="16" height="16"/>
                     </a>
                  </td>
                  <td class="soc-med-icon">
                     <a href="https://www.pinterest.com/iherb/_shop" target="_blank">
                        <img src="{{iherb.image-root}}icon-pinterest.png" alt="Pinterest Icon" width="16" height="16"/>
                     </a>
                  </td>
                  <td class="soc-med-icon">
                     <a href="https://www.instagram.com/iherb" target="_blank">
                        <img src="{{iherb.image-root}}icon-instagram.png" alt="Instagram Icon" width="16" height="16"/>
                     </a>
                  </td>
                  <td></td>
               </tr></table>
               <table><tr>
                  <td></td>
                  <td class="app-store spacer">
                     <a href="https://apps.apple.com/us/app/iherb/id636609212" target="_blank">
                        <img src="{{iherb.image-root}}app-apple.png" alt="Apple App Store" width="107" height="32"/>
                     </a>
                  </td>
                  <td class="app-store">
                     <a href="https://play.google.com/store/apps/details?id=com.iherb" target="_blank">
                        <img src="{{iherb.image-root}}app-google.png" alt="Google Play" width="107" height="32"/>
                     </a>
                  </td>
                  <td></td>
               </tr></table>
            </columns>
<!---------------------------------------------------------------------------------------------------->
         </row>

      </columns>
   </row>
</container>
<!---------------------------------------------------------------------------------------------------->
<table class="footer-links"><tr>
   <td class="fl-container">
      <table><tr>
         <td class="text">
            <a href="https://checkout.iherb.com/auth/Account/Login" target="_blank">Email Preferences</a>
         </td>
         <td class="vbar">
            <span>|</span>
         </td>
         <td class="text">
            <a href="https://www.iherb.com/blog" target="_blank">Blog</a>
         </td>
         <td class="vbar">
            <span>|</span>
         </td>
         <td class="text">
            <a href="https://www.iherb.com/help/contact" target="_blank">Contact</a>
         </td>
         <td class="vbar">
            <span>|</span>
         </td>
         <td class="text">
            <a href="https://www.iherb.com/info/privacy" target="_blank">Privacy</a>
         </td>
      </tr></table>
   </td>
</tr></table>
<!---------------------------------------------------------------------------------------------------->