

/*----------------------------------------------------------------------------------------------------*/
.header{
   background: $body-background;
   background-color: $body-background;
   .columns{
      padding-top: 18px;
      padding-bottom: 18px;
   }
}
/*----------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------*/
.order-header{
   border-top: 4px solid $green-main;
   .columns{
      padding-top: 33px;
      padding-bottom: 35px;
   }
   .iherb-logo{
      display: inline-block;
      width: 52px;
      padding-bottom: 5px;
      vertical-align: middle;
   }
   .vertical-line{
      display: inline-block;
      width: 1px;
      height: 28px;
      margin-left: 5px;
      margin-right: 3px;
      vertical-align: middle;
      background: $black-bold;
      background-color: $black-bold;
   }
   .order-tks-msg{
      display: inline-block;
      vertical-align: middle;
      font-size: $font-size-18;
      font-weight: 700;
      color: $black-bold;
      @media only screen and (max-width:#{$global-breakpoint}){
         font-size: $font-size-18-small !important;
      }
   }
   .track-info-msg{
      padding-top: 28px;
   }
}
/*----------------------------------------------------------------------------------------------------*/
.order-items{
   margin-bottom: 22px;
   .order-number{
      padding-bottom: 1px;
      font-weight: 700;
      color: $black-bold;
   }
   .order-item{
      margin-top: 25px;
      margin-bottom: 25px;
      img{
         width: 80px;
         height: 80px;
         padding-left: 16px;
      }
      .item-desc{
         display: block;
         color: $global-font-color;
      }
      .item-qty{
         padding-top: 5px;
      }
      .item-total{
         padding-right: 18px;
         text-align: right;
         font-weight: 700;
      }
      @media only screen and (max-width:#{$global-breakpoint}){
         img{
            padding-left: 0px !important;
         }
         .item-desc,.item-qty{
            padding-left: 16px !important;
         }
         .item-total{
            padding-right: 0px !important;
         }
      }
   }
}
/*----------------------------------------------------------------------------------------------------*/
.order-totals{
   margin-bottom: 40px;
   p{
      padding-top: 10px;
      &.saved{
         padding-top: 16px;
         padding-bottom: 10px;
         font-weight: 900;
         color: $green-main;
      }
      &.pad-bottom{
         padding-bottom: 10px;
      }
      &.order-total{
         font-weight: 900;
      }
   }
}
/*----------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------*/
.ship-pay-info{
   background: $ship-pay-background;
   background-color: $ship-pay-background;
   th{
      padding-top: 18px;
   }
   .ship-info-content{
      th{
         padding-right: 28px;
      }
   }
   .pay-info-content{
      th{
         padding-bottom: 48px;
         @media only screen and (max-width:#{$global-breakpoint}){
            padding-top: 24px !important;
            padding-right: 28px !important;
         }
      }
   }
   .ship-pay-header{
      font-weight: 700;
   }
   .ship-pay-with{
      margin-top: 20px;
   }
   .ship-bill-to{
      margin-top: 16px;
      margin-bottom: 16px;
      .ship-bill-address{
         padding-top: 2px;
      }
   }
   .est-arrive-date{
      font-size: $font-size-18 !important;
      font-weight: 700;
      color: $black-bold;
   }
   .view-order-button{
      display: block;
      width: 100%;
      border: 1px solid $green-main;
      border-radius: 4px;
      line-height: 43px;
      text-align: center;
      font-family: sans-serif;
      font-size: $font-size-13;
      font-weight: 700;
      color: #ffffff;
      background: $green-main;
      background-color: $green-main;
      @media only screen and (max-width:#{$global-breakpoint}){
         font-size: $font-size-13-small !important;
      }
   }
   .change-order{
      margin-top: 12px;
      a{
         text-decoration: underline;
         color: $green-main;
      }
   }
}
/*----------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------*/
.promo{
/*----------------------------------------------------------------------------------------------------*/
   .recommend-header{
      border-top: 2px solid $black-bold;
      padding-top: 33px;
      font-size: 16px !important;
      font-weight: 700;
   }
   .recommend-prods{
      margin-bottom: 35px;
      .columns{
         padding-top: 26px;
         padding-right: 15px;
         &:nth-child(1){
            padding-right: 20px;
         }
      }
      img{
         width: 120px;
         height: 120px;
      }
      p{
         padding-top: 9px;
         padding-left: 15px;
         padding-right: 15px;
         text-align: center;
         font-size: 12px !important;
         &.prod-price{
            padding-top: 3px;
            font-weight: 700;
         }
      }
   }
/*----------------------------------------------------------------------------------------------------*/
   .rewards-banner{
      .background{
         width: 536px;
         height: 80px;
         border-radius: 4px;
         vertical-align: middle;
         background-size: cover;
         background-repeat: no-repeat;
         background-image: url($image-root+"rewards-background.jpg");
         .rewards{
            padding-left: 14px;
            img{
               display: inline-block;
               width: 145px;
               height: 31px;
               padding-bottom: 6px;
               vertical-align: middle;
            }
         }
         .give-and-get{
            padding-left: 7px;
            font-size: $font-size-13;
            font-weight: 700;
            color: $black-bold;
            @media only screen and (max-width:#{$global-breakpoint}){
               font-size: $font-size-13-small !important;
            }
         }
         .learn-more{
            padding-left: 50px;
            .learn-more-button{
               display: inline-block;
               width: 118px;  
               border: 1px solid #4c4c4c;
               border-radius: 4px;
               line-height: 32px;
               vertical-align: middle;
               text-align: center;
               font-family: sans-serif;
               font-size: $font-size-13;
               font-weight: 500;
               color: #ffffff;
               background: #4c4c4c;
               background-color: #4c4c4c;
               @media only screen and (max-width:#{$global-breakpoint}){
                  font-size: $font-size-13-small !important;
               }
            }
         }
         @media only screen and (max-width:#{$global-breakpoint}){
            .rewards,.give-and-get,.learn-more{
               display: block;
               padding: 0px 0px !important;
               padding-left: 0px !important;
               text-align: center;
               .rewards-image{
                  padding-bottom: 0px !important;
               }
            }
         }
      }
   }
/*----------------------------------------------------------------------------------------------------*/
}
/*----------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------*/
.contact-us{
   th{
      padding-top: 18px;
      padding-bottom: 18px;
      text-align: center;
   }
   img{
      display: inline-block;
      width: 24px;
      height: 24px;
      padding-right: 8px;
      vertical-align: middle;
   }
   span,a{
      font-weight: 700;
      color: $grey-dark-font-color;
   }
   a{
      text-decoration: underline;
   }
}
/*----------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------*/
.footer{
   padding-top: 32px;
   padding-bottom: 40px !important;
   background: $body-background;
   background-color: $body-background;
/*----------------------------------------------------------------------------------------------------*/
   .footer-top{
      th{
         padding-bottom: 33px;
         text-align: center;
      }
      span,a{
         font-size: 12px !important;
         color: $grey-dark-font-color;
      }
      a{
         padding-left: 1px;
         padding-right: 1px;
         text-decoration: underline;
         color: #1155cc;
      }
      .block{
         @media only screen and (max-width:#{$global-breakpoint}){
            display: block;
         }
      }
   }
/*----------------------------------------------------------------------------------------------------*/
   .footer-middle{
      margin-bottom: 30px;
      .iherb-logo{
         width: 59px;
         height: 20px;
         padding-bottom: 18px;
      }
      .iherb-logo,p{
         padding-left: 3px;
      }
      .third-party-links{
         padding-top: 7px;
         th{
            text-align: center;
            @media only screen and (max-width:#{$global-breakpoint}){
               text-align: right !important;
            }
         }
         .social-media-icon{
            display: inline-block;
            padding-bottom: 23px;
            padding-left: 7px;
            padding-right: 7px;
         }
         .app-store{
            display: inline-block;
            padding-left: 3px;
            padding-right: 3px;
         }
      }
   }
/*----------------------------------------------------------------------------------------------------*/
   .footer-links{
      th{
         text-align: center;
      }
      a,span{
         padding-left: 2px;
         padding-right: 2px;
         font-size: 11px !important;
         color: $grey-dark-font-color;
      }
   }
/*----------------------------------------------------------------------------------------------------*/
}
/*----------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------*/
html,body,.body,p,span,a{
   @media only screen and (max-width:#{$global-breakpoint}){
      font-size: $global-font-size-small !important;
   }
}
.grey-dark{
   font-size: $grey-dark-font-size;
   color: $grey-dark-font-color;
   @media only screen and (max-width:#{$global-breakpoint}){
      font-size: $grey-dark-font-size-small !important;
   }
}
/*----------------------------------------------------------------------------------------------------*/
.blue-text-fix{
   text-decoration: none;
}
.black-line{
   border: 1px solid $black-bold;
}
.black-line-thin{
   border-bottom: 0px;
}
.black-border{
   border-top: 2px solid $black-bold;
}
.black-border-thin{
   border-top: 1px solid $black-bold;
}
/*----------------------------------------------------------------------------------------------------*/