<container class="footer">


   <row class="footer-top">
      <columns class="ft-content">
         <row>
<!---------------------------------------------------------------------------------------------------->
            <columns small="12" large="6" class="footer-top-left">
               <img src="https://i.imgur.com/y1OhxC6.png" alt="Kayak Logo" class="k-logo"/>
               <span>
                  <p class="download-app">Download the app</p>
                  <p class="cheap">Cheap flights, hotels & more</p>
               </span>
<!---------------------------------------------------------------------------------------------------->
            </columns><columns small="12" large="6" class="footer-top-right">
               <a href="https://apps.apple.com/us/app/kayak-flights-hotels-cars/id305204535" target="_blank">
                  <img src="https://i.imgur.com/547sGtc.png" alt="Apple App Store"/>
               </a>
               <a href="https://play.google.com/store/apps/details?id=com.kayak.android" target="_blank">
                  <img src="https://i.imgur.com/c6gdpJk.png" alt="Google Play"/>
               </a>
            </columns>
<!---------------------------------------------------------------------------------------------------->
         </row>
      </columns>
   </row>


   <row class="footer-social-media">
<!---------------------------------------------------------------------------------------------------->
      <columns small="6" large="6">
         <a href="https://www.kayak.com" target="_blank">
            <img src="https://i.imgur.com/xWIH1xC.png" alt="Kayak Logo" class="kayak-logo"/>
         </a>
<!---------------------------------------------------------------------------------------------------->
      </columns><columns small="6" large="6" class="social-media-icons">
         <p class="smi-content">
            <a href="https://www.facebook.com/kayak" target="_blank">
               <img src="https://i.imgur.com/cGEcTLK.png" alt="Facebook Icon"/>
            </a>
            <a href="https://twitter.com/kayak" target="_blank">
               <img src="https://i.imgur.com/YCxWWjS.png" alt="Twitter Icon"/>
            </a>
            <a href="https://www.instagram.com/kayak" target="_blank">
               <img src="https://i.imgur.com/01qk9WL.png" alt="Instagram Icon"/>
            </a>
         </p>         
      </columns>
<!---------------------------------------------------------------------------------------------------->
   </row>


   <row>
      <columns class="footer-menu">
         <row class="fm-content collapse">
<!---------------------------------------------------------------------------------------------------->
            <columns small="3" large="3">
               <row class="menu-divider collapse">
                  <columns small="12" large="4">
                     <a href="https://www.kayak.com/flights" target="_blank">
                        <img src="https://i.imgur.com/wB4fGdR.png" alt="Flights Icon" class="menu-icon small-float-center float-right"/>
                     </a>
                  </columns><columns class="icon-text-divider show-for-large">
                  </columns><columns small="12" large="8">
                     <a href="https://www.kayak.com/flights" target="_blank" class="menu-text small-text-center">Flights</a>
                  </columns>
               </row>
<!---------------------------------------------------------------------------------------------------->
            </columns><columns small="3" large="3">
               <row class="menu-divider collapse">
                  <columns small="12" large="5">
                     <a href="https://www.kayak.com/stays" target="_blank">
                        <img src="https://i.imgur.com/bLV11Pb.png" alt="Hotels Icon" class="menu-icon small-float-center float-right"/>
                     </a>
                  </columns><columns class="icon-text-divider show-for-large">
                  </columns><columns small="12" large="7">
                     <a href="https://www.kayak.com/stays" target="_blank" class="menu-text small-text-center">Hotels</a>
                  </columns>
               </row>
<!---------------------------------------------------------------------------------------------------->
            </columns><columns small="3" large="3">
               <row class="menu-divider collapse">
                  <columns small="12" large="5">
                     <a href="https://www.kayak.com/cars" target="_blank">
                        <img src="https://i.imgur.com/cZ4YFyC.png" alt="Cars Icon" class="menu-icon small-float-center float-right"/>
                     </a>
                  </columns><columns class="icon-text-divider show-for-large">
                  </columns><columns small="12" large="7">
                     <a href="https://www.kayak.com/cars" target="_blank" class="menu-text small-text-center">Cars</a>
                  </columns>
               </row>
<!---------------------------------------------------------------------------------------------------->
            </columns><columns small="3" large="3" class="packages-pad-left">
               <row class="collapse">
                  <columns small="12" large="4">
                     <a href="https://www.kayak.com/packages" target="_blank">
                        <img src="https://i.imgur.com/pxua3eF.png" alt="Packages Icon" class="menu-icon small-float-center float-right"/>
                     </a>
                  </columns><columns class="icon-text-divider show-for-large">
                  </columns><columns small="12" large="8">
                     <a href="https://www.kayak.com/packages" target="_blank" class="menu-text small-text-center">Packages</a>
                  </columns>
               </row>
            </columns>
<!---------------------------------------------------------------------------------------------------->
         </row>
      </columns>
   </row>


   <row class="footer-bottom">
      <columns>
<!---------------------------------------------------------------------------------------------------->
         <row class="user-links">
            <columns>
               <center class="center-tag">
               <a href="#">Unsubscribe</a>
               <a href="#">Email Preferences</a>
               <a href="#">Feedback</a>
               <a href="#">Privacy Policy</a>
               </center>
            </columns>
         </row>
<!---------------------------------------------------------------------------------------------------->
         <row class="disclaimer">
            <columns>
               <p>
               Prices, savings, and availability may vary. Additional restrictions
               may apply. Savings are not ensured. KAYAK does not sell tickets but
               provides a price comparison service. The deals in this newsletter
               were current at the time this email was published and subject to
               change based on date, time and availability, which may be extremely
               limited. KAYAK accepts no liability for inaccuracies arising from
               this or any other cause, including, but not limited to, expiration
               of deals and typographical error, we are not responsible for any
               loss, damages, or injury incurred by the deals herein. Unless
               otherwise specified, hotel prices are per night, based on
               double-occupancy rooms and do not include taxes and fees. Unless
               specified to be one-way (ow) or otherwise, flight prices are for
               round-trip (rt) economy class travel and include taxes and fees. If
               in doubt, always consult the agent or company supplying the tickets.
               Unless otherwise specified, package prices include flight + hotel,
               taxes and fees, but not baggage fees or other fees charged directly
               by the airline for the included flight. Cruise and car rental prices
               do not include taxes and fees. Please check the provider's webpage
               or contact the provider for additional details.
               </p>
            </columns>
         </row>
<!---------------------------------------------------------------------------------------------------->
         <row class="company-info">
            <columns>
               <p>&copy; 2021 KAYAK Software Corporation</p>
               <a class="blue-text-fix">
                  <p>7 Market Street, Stamford, CT 06902-5810 US</p>
               </a>
            </columns>
         </row>
<!---------------------------------------------------------------------------------------------------->
      </columns>
   </row>


</container>