<container>

   <row class="header">
      <columns small="6" large="6">
         <a href="https://www.kayak.com" target="_blank">
            <img src="https://i.imgur.com/Qv1svkO.png" alt="Kayak Logo" class="kayak-logo"/>
         </a>
      </columns><columns small="6" large="6">
         <a href="https://www.kayak.com/login" target="_blank">
            <img src="https://i.imgur.com/StGUK2E.png" alt="User Icon" class="user-icon float-right"/>
         </a>
      </columns>
   </row>

   <row>
      <columns class="header-menu">
         <row class="hm-content collapse">
<!---------------------------------------------------------------------------------------------------->
            <columns small="3" large="3">
               <row class="menu-divider collapse">
                  <columns small="12" large="4">
                     <a href="https://www.kayak.com/flights" target="_blank">
                        <img src="https://i.imgur.com/wB4fGdR.png" alt="Flights Icon" class="menu-icon small-float-center float-right"/>
                     </a>
                  </columns><columns class="icon-text-divider show-for-large">
                  </columns><columns small="12" large="8">
                     <a href="https://www.kayak.com/flights" target="_blank" class="menu-text small-text-center">Flights</a>
                  </columns>
               </row>
<!---------------------------------------------------------------------------------------------------->
            </columns><columns small="3" large="3">
               <row class="menu-divider collapse">
                  <columns small="12" large="5">
                     <a href="https://www.kayak.com/stays" target="_blank">
                        <img src="https://i.imgur.com/bLV11Pb.png" alt="Hotels Icon" class="menu-icon small-float-center float-right"/>
                     </a>
                  </columns><columns class="icon-text-divider show-for-large">
                  </columns><columns small="12" large="7">
                     <a href="https://www.kayak.com/stays" target="_blank" class="menu-text small-text-center">Hotels</a>
                  </columns>
               </row>
<!---------------------------------------------------------------------------------------------------->
            </columns><columns small="3" large="3">
               <row class="menu-divider collapse">
                  <columns small="12" large="5">
                     <a href="https://www.kayak.com/cars" target="_blank">
                        <img src="https://i.imgur.com/cZ4YFyC.png" alt="Cars Icon" class="menu-icon small-float-center float-right"/>
                     </a>
                  </columns><columns class="icon-text-divider show-for-large">
                  </columns><columns small="12" large="7">
                     <a href="https://www.kayak.com/cars" target="_blank" class="menu-text small-text-center">Cars</a>
                  </columns>
               </row>
<!---------------------------------------------------------------------------------------------------->
            </columns><columns small="3" large="3" class="packages-pad-left">
               <row class="collapse">
                  <columns small="12" large="4">
                     <a href="https://www.kayak.com/packages" target="_blank">
                        <img src="https://i.imgur.com/pxua3eF.png" alt="Packages Icon" class="menu-icon small-float-center float-right"/>
                     </a>
                  </columns><columns class="icon-text-divider show-for-large">
                  </columns><columns small="12" large="8">
                     <a href="https://www.kayak.com/packages" target="_blank" class="menu-text small-text-center">Packages</a>
                  </columns>
               </row>
            </columns>
<!---------------------------------------------------------------------------------------------------->
         </row>
      </columns>
   </row>

</container>